@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --v-primary-color: #ffffff;
    --v-secudary-color: #000000;
    --v-yellow-primary-color: #f7f305;
    --v-gray-primary-color: #333333;
    --v-gray-secudary-color: #555555;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body {
    background-color: var(--v-secudary-color);
    background-image: url(./public/assets/background-fire-desktop.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--v-primary-color);
    z-index: -3;
    
    ul {
            list-style: none;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    button{
        cursor: pointer;
    }

    canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    padding: 1rem;

    .logo {
        display: flex;
        align-items: center;
        margin-left: 5rem;
        figure {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        figcaption {
            transition: color 0.3s ease;
            margin-right: 0.5rem;
        }
        
        figcaption:hover {
            font-weight: 700;
            
        }
    }

    .music-controls {
        width: 10%;
        
        button {
            background-color: var(--v-gray-primary-color);
            border: none;
            padding: 10px;
            border-radius: 50px;
        }
        
        button:hover {
            border: 2px solid var(--v-yellow-primary-color);
            background-color: var(--v-gray-secudary-color);
        }
        
        button:hover img {
            transition: transform 0.3s ease;
            transition: scale(1.1);
            
        }
    }
}

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;

        ul {
            display: flex;
            align-items: center;
            gap: 3rem;
            flex-wrap: wrap;
        }

        li {
            color: var(--v-blue-primary-color);
            transition: color 0.3s ease;
            z-index: 1;

            a {
                color: inherit;
            }
        }

        li:hover {
            font-weight: 700;
        }
    }
}

main {
    height: 100vh;
    background-image: url(./public/assets/the\ witcher\ kavil2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;

    section {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .apresentacao {
            height: 92vh;
            width: 27.125rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 15rem;

            img {
                width: 24rem;
            }

            button {
                margin-top: 2.2rem;
                width: 16rem;
                border: none;
                overflow: hidden;
                border-radius: 9%;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: color 0.3s ease;
                }

                img:hover {
                    border-radius: 9%;
                    border: 2px solid var(--v-yellow-primary-color);
                }
            }

            button:hover img {
                transition: scale(1.1);
                transition: transform 0.3s ease;
            }
        }

        article {
            width: 100%;
            display: flex;
            justify-content: space-between;


            div {
                width: 70%;
                font-weight: 600;
                padding: 1rem;

                p {
                    a {
                        color: var(--v-primary-color);
                    }
                } 
            }
        }
    }
}

@media (max-width: 768px) {

    body {
        background-image: url(./public/assets/background-fire-desktop.gif);
        background-size: contain;
        background-position: bottom;
        
        header {
        flex-direction: column;
        align-items: center;
        justify-content: center;

            .logo {
                width: 100%;
                justify-content: center;

                figcaption {
                    border: var(--v-primary-color) solid 1px;
                    margin-right: 2rem;
                    padding: 1rem;
                }

                .music-controls {
                    width: 20%;
                    justify-content: center;
                }
            }
        }

        nav {
            padding: 1.5rem;
        }

        nav, ul {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 90%;
            text-align: center;
        }

        main {
            height: 100vh;
            background-image: url(./public/assets/the\ witcher\ kavil2.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
        }

        article {
                div {
                    min-width: 100%;
                    text-align: center;
                }

            p {
                font-size: 0.8rem;
                text-align: center;
                
                a {
                    color: var(--v-primary-color);
                }
            }
        }
    }
}